---
import { IS_PROD } from '@/utils/constants';
---

{
  !IS_PROD && (
    <details>
      <summary>
        <span color-accent-600>
          <span i-lucide-languages inline-block mr-2 mb--1 />
          原文
        </span>
      </summary>
      <slot />
    </details>
  )
}
