@font-face {
  font-family: 'BQN386';
  src: url('/font/BQN386.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --__sl-font-mono: BQN386, APL386, monospace;
}
