@import "katex/dist/katex.min.css";

@import "./tdesign-theme.css";
@import "./starlight-theme.css";

:root,
:root[theme-mode="light"],:root[data-theme="light"] {
  --skeleton-animation-gradient: rgba(0, 0, 0, 0.04);
}
:root[theme-mode="dark"],:root[data-theme="dark"] {
  --skeleton-animation-gradient: rgba(255, 255, 255, 0.06);
}

/* 配置 view-transition 进度条颜色 */
.swup-progress-bar {
  background-color: var(--sl-color-accent);
}

/* 缩小 react-tweet-embed 字体 */
.react-tweet-theme {
  margin-inline: auto!important;
  --tweet-body-font-size: 1.1rem !important;
  --tweet-body-line-height: 1.3rem !important;
}
