@import "katex/dist/katex.min.css";

@import "./tdesign-theme.css";
@import "./starlight-theme.css";

:root,
:root[theme-mode="light"],:root[data-theme="light"] {
  --skeleton-animation-gradient: rgba(0, 0, 0, 0.04);
}
:root[theme-mode="dark"],:root[data-theme="dark"] {
  --skeleton-animation-gradient: rgba(255, 255, 255, 0.06);
}

/* 配置 view-transition 进度条颜色 */
.swup-progress-bar {
  background-color: var(--sl-color-accent);
}

/* 缩小 react-tweet-embed 字体 */
.react-tweet-theme {
  margin-inline: auto!important;
  --tweet-body-font-size: 1.1rem !important;
  --tweet-body-line-height: 1.3rem !important;
}

/* 引用最后一行右对齐 */
.sl-markdown-content blockquote > p:last-child:not(:where(.not-content *)) {
  margin-top: 0;
  text-align: right;
}

/* 中文段落设置 */
.sl-markdown-content:lang(zh) > p:not(:where(.not-content *)) {
  text-align: justify;
  text-indent: 2em;
}